<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR</title>
    <link rel="stylesheet" href="/success.css">
</head>
<body>

    <div class="success-container">
        <!-- <h2>Successfully Submitted</h2> -->
        <p>Wrong ID <span class="success-icon">❌</span></p>
        <!-- <a href="/" class="back-btn">Back to Login</a> -->
    </div>
    
</body>
<script>
    setTimeout(function () {
        // Replace 'newpage.html' with the actual URL you want to redirect to
        window.location.href = '/form';
    }, 600);
</script>
</html>
