<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Website</title>
        <link rel="stylesheet" href="/home_style.css">
</head>
<body>

    <nav>    
        <ul>
            <li class="welcome-text" id="welcomeText">Welcome</li>
            <li><a href="#about">About Us</a></li>
            <li class="">
                <a href="#">Contact</a>
                <!-- <ul>
                    <li><a href="mailto:your-email@gmail.com">Gmail</a></li>
                    <li><a href="https://www.linkedin.com/">LinkedIn</a></li>
                    <li><a href="https://www.instagram.com/">Instagram</a></li>
                </ul> -->
            </li>
            <li><a href="/" id="logout">Logout</a></li>
            <?xml version="1.0" encoding="iso-8859-1"?>
<a href="/profile">
<svg id="profile" fill="#000000" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	 viewBox="0 0 512 512" xml:space="preserve">
<g>
	<g>
		<path d="M256,0C114.608,0,0,114.608,0,256s114.608,256,256,256s256-114.608,256-256S397.392,0,256,0z M256,496
			C123.664,496,16,388.336,16,256S123.664,16,256,16s240,107.664,240,240S388.336,496,256,496z"/>
	</g>
</g>
<g>
	<g>
		<path d="M257.408,106.256c-32.704,0-59.296,26.608-59.296,59.312s26.592,59.296,59.296,59.296
			c32.704,0,59.312-26.592,59.312-59.296C316.72,132.864,290.112,106.256,257.408,106.256z M257.408,208.864
			c-23.872,0-43.296-19.424-43.296-43.296s19.424-43.312,43.296-43.312s43.312,19.44,43.312,43.312S281.28,208.864,257.408,208.864z
			"/>
	</g>
</g>
<g>
	<g>
		<path d="M314.112,252.256l-56.704,42.752l-56.704-42.752c-69.792,20.944-68.912,91.6-68.912,91.6h125.616h125.616
			C383.024,343.856,383.904,273.2,314.112,252.256z M257.392,327.84H149.824c3.888-17.408,15.2-44.688,48.048-57.68l49.904,37.616
			c2.848,2.144,6.24,3.216,9.632,3.216c3.392,0,6.784-1.072,9.632-3.216l49.904-37.632c33.008,13.024,44.256,40.272,48.096,57.696
			H257.392z"/>
	</g>
</g>
</svg>
</a>





        </ul>
    </nav>

    <div class="course-container">
        <div class="course">
            <a href="/course_detail_1.html">
                <img src="/html.jpg">
                <h2>Introduction to HTML</h2>
                <p>An introductory course on HTML for beginners.</p>
            </a>
        </div>
        <div class="course">
            <a href="course_details.html">
                <img src="/css.png">
                <h2>CSS Basics</h2>
                <p>Learn the fundamentals of Cascading Style Sheets.</p>
            </a>
        </div>
        <div class="course">
            <a href="course_details.html">
                <img src="/js.avif">
                <h2>JavaScript Fundamentals</h2>
                <p>Explore the basics of JavaScript programming language.</p>
            </a>
        </div>
        <div class="course">
            <a href="course_details.html">
                <img src="/web_design.avif">
                <h2>Web Design Principles</h2>
                <p>Understand essential principles for effective web design.</p>
            </a>
        </div>
        <div class="course">
            <a href="course_details.html">
                <img src="/responsive.jpg">
                <h2>Responsive Web Development</h2>
                <p>Learn to create responsive and mobile-friendly websites.</p>
            </a>
        </div>
        <div class="course">
            <a href="python_course_details.html">
                <img src="/python.png">
                <h2>Python Programming</h2>
                <p>Learn the versatile and powerful Python programming language.</p>
            </a>
        </div>
        <div class="course">
            <a href="java_course_details.html">
                <img src="/java.png">
                <h2>Java Programming Basics</h2>
                <p>Get started with the fundamentals of Java programming.</p>
            </a>
        </div>
        <div class="course">
            <a href="cpp_course_details.html">
                <img src="/c++.png">
                <h2>C++ Programming Fundamentals</h2>
                <p>Explore the core concepts of C++ programming language.</p>
            </a>
        </div>
        <div class="course">
            <a href="php_course_details.html">
                <img src="/webphp.png">
                <h2>Web Development with PHP</h2>
                <p>Learn to build dynamic websites using PHP for server-side scripting.</p>
            </a>
        </div>
        <div class="course">
            <a href="ruby_course_details.html">
                <img src="/ruby-rails-development.webp">
                <h2>Ruby on Rails Development</h2>
                <p>Explore web development using the Ruby on Rails framework.</p>
            </a>
        </div>
        <div class="course">
            <a href="swift_course_details.html">
                <img src="/swift.png">
                <h2>Mobile App Development with Swift</h2>
                <p>Learn to build iOS applications using the Swift programming language.</p>
            </a>
        </div>
        <div class="course">
            <a href="sql_course_details.html">
                <img src="/sql.png">
                <h2>Database Management with SQL</h2>
                <p>Master the fundamentals of relational databases and SQL queries.</p>
            </a>
        </div>
        
        
        
        
                
    </div>
    <div id="about" class="about-section">
        <h2>About Us</h2>
        <p>Welcome to our course website. We provide high-quality courses to help you learn web development.</p>
        <p>For inquiries, you can reach us via email at <a href="mailto:info@yourwebsite.com">info@yourwebsite.com</a>.</p>
        <p>&copy; 2024 Course Website. All rights reserved.</p>
    </div>
</body>
</html>
