<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Website</title>
    <link rel="stylesheet" href="styles2.css">
</head>
<body>

    <nav>    
        <ul>
            <li class="welcome-text" id="welcomeText">Welcome</li>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <div class="course-container">
        <div class="course">
            <a href="course_details.html">
                <img src="1.jpg">
                <h2>Introduction to HTML</h2>
                <p>An introductory course on HTML for beginners.</p>
            </a>
        </div>
        <div class="course">
            <a href="course_details.html">
                <img src="1.jpg">
                <h2>CSS Basics</h2>
                <p>Learn the fundamentals of Cascading Style Sheets.</p>
            </a>
        </div>
        <div class="course">
            <a href="course_details.html">
                <img src="1.jpg">
                <h2>JavaScript Fundamentals</h2>
                <p>Explore the basics of JavaScript programming language.</p>
            </a>
        </div>
        <div class="course">
            <a href="course_details.html">
                <img src="1.jpg">
                <h2>Web Design Principles</h2>
                <p>Understand essential principles for effective web design.</p>
            </a>
        </div>
        <div class="course">
            <a href="course_details.html">
                <img src="1.jpg">
                <h2>Responsive Web Development</h2>
                <p>Learn to create responsive and mobile-friendly websites.</p>
            </a>
        </div>
    </div>
    <script>
        var username = sessionStorage.getItem('username');
        var WelcomeTextElement = document.getElementById('welcomeText');
        WelcomeTextElement.textContent = 'Welcome , '+ username + '...  you can select course of your choice!!';
    </script>

</body>
</html>
